html {
  font-size: 10px;
  font-family: sans-serif;
  box-sizing: border-box !important;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
  overflow-x: hidden;
  width: 100%
}

a {
  background-color: transparent;
  
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  border: 0;
}

p {
  margin: 0;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}


hr {
  height: 0;
}


pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}

h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

section, aside{
  margin: 0;
  padding: 0;
}

.align-center {
   text-align: center;
}

/* --------------- */

.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}


/* Grid */

.col, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1  {
  padding:  0 1%;
  display: inline-block;
  vertical-align: top;
}

.col-12 { width: 100% }
.col-11 { width: 91.6666666667% }
.col-10 { width: 83.3333333333% }
.col-9 { width: 75% }
.col-8 { width: 66.6666666667% }
.col-7 { width: 58.3333333333% }
.col-6 { width: 50% }
.col-5 { width: 41.6666666667% }
.col-4 { width: 33.3333333333% }
.col-3 { width: 25% }
.col-2 { width: 16.6666666667% }
.col-1 { width: 8.3333333333% }


.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    max-width: 120rem;
    width: 90%
}

.container:after {
    content: " ";
    display: block;
    clear: both
}

.container--home {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 100%;
    background: white;
    box-shadow: 0 0 3.5rem rgba(0, 0, 0, 0.25)
}

.container--home:after {
    content: " ";
    display: block;
    clear: both
}

/* Navigation */
.header__nav {
      background: #fff;
      color: #555f66;
      cursor: default;
      height: 3em;
      left: 0;
      line-height: 3em;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10000;
      box-shadow: 0 0 0.1em 0 rgba(0, 0, 0, 0.25);
    }

.header__nav h1 {
      color: #666f77;
      font-weight: 500;
      height: inherit;
      left: 1.25em;
      line-height: inherit;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
    }

.header__nav h1 a {
      font-size: 1.25em;
    }

.header__nav nav {
        height: inherit;
        line-height: inherit;
        position: absolute;
        right: 1.25em;
        top: 0;
        vertical-align: middle;
    }

.header__nav nav > ul {
          list-style: none;
          margin: 0;
          padding-left: 0;
    }

.header__nav nav > ul > li {
      border-radius: 6px;
      display: inline-block;
      margin-left: 2em;
      padding-left: 0;
    }

.header__nav nav > ul > li a {
      -moz-transition: color 0.2s ease-in-out;
      -webkit-transition: color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out;
      -ms-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
      color: #555f66;
      display: inline-block;
      text-decoration: none;
      }

.header__nav nav > ul > li a:hover {
      color: #629DD1;
    }

.header__nav nav > ul > li:first-child {
      margin-left: 0;
    }


/* Banner */
.header {
   background-color: #666666;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   color: #d8d8d8;
   padding: 14em 0;
   text-align: center;
   position: relative;
}

.banner {
    background-image: url("../images/banner.jpg");
}


.header h2 {
  color: #ffffff;
  font-size: 3.5em;
  line-height: 1em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

.header p {
  font-size: 1.5em;
  margin-bottom: 2em;
}

.header p a {
  color: #ffffff;
  text-decoration: none;
}




.services {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width:90%;
}

/* Footer */

footer{
    width: 100%;
    clear: both;
}

.footer {
      background: #f8f8f8;
      padding: 4em 0 6em 0;
}

.footer a {
      color: inherit;
}

.footer .copyright {
  color: #bbb;
  font-size: 0.9em;
  margin: 2em 0 0 0;
  padding: 0;
  text-align: center;
}

.footer .copyright li {
  border-left: solid 1px rgba(144, 144, 144, 0.25);
  display: inline-block;
  list-style: none;
  margin-left: 1.5em;
  padding-left: 1.5em;
}

.footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

.footer .icons a {
  color: #bbb;
}


/* Icon */

.icon {
 text-decoration: none;
 border-bottom: none;
 position: relative;
}

.icon:before {
 -moz-osx-font-smoothing: grayscale;
 -webkit-font-smoothing: antialiased;
 font-family: FontAwesome;
 font-style: normal;
 font-weight: normal;
 text-transform: none !important;
}

.icon > .label {
   display: none;
}

.icon.major {
 display: inline-block;
 margin: 0 0 1.25em 0;
 color: #ffffff;
 background: #629DD1;
 width: 3em;
 height: 3em;
 font-size: 2em;
 text-align: center;
 line-height: 3em;
 border-radius: 100%;
 box-shadow: 0 0 0 10px #fff, 0 0 0 11px rgba(144, 144, 144, 0.25);
}

/* Image */

.image {
 border-radius: 6px;
 border: 0;
 display: inline-block;
 position: relative;
}

.image img {
  border-radius: 6px;
  display: block;
}

.image.left {
 float: left;
 padding: 0 1.5em 1em 0;
 top: 0.25em;
}

.image.right {
 float: right;
 padding: 0 0 1em 1.5em;
 top: 0.25em;
}

.image.fit {
 display: block;
 margin: 0 0 2em 0;
 width: 100%;
}

.image.fit img {
 display: block;
 width: 100%;
}


ul.alt {
 list-style: none;
 padding-left: 0;
}

ul.alt li {
 border-top: solid 1px rgba(144, 144, 144, 0.25);
 padding: 0.5em 0;
}

ul.alt li:first-child {
 border-top: 0;
 padding-top: 0;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
 display: inline-block;
 padding: 0 1.25em 0 0;
}

ul.icons li:last-child {
 padding-right: 0;
}

ul.icons li .icon:before {
 font-size: 1.5em;
}

ul.actions {
 cursor: default;
 list-style: none;
 padding-left: 0;
}

ul.actions li {
 display: inline-block;
 padding: 0 1em 0 0;
 vertical-align: middle;
}

ul.actions li:last-child {
  padding-right: 0;
}

ul.actions.small li {
  padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
  display: block;
  padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
  padding-top: 0;
}

ul.actions.vertical li > * {
  margin-bottom: 0;
}

ul.actions.vertical.small li {
  padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
  padding-top: 0;
}

ul.actions.fit {
  display: table;
  margin-left: -1em;
  padding: 0;
  table-layout: fixed;
  width: calc(100% + 1em);
}

ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1em;
}

ul.actions.fit li > * {
  margin-bottom: 0;
}

ul.actions.fit.small {
  margin-left: -0.5em;
  width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
  padding: 0 0 0 0.5em;
}


.pricing-table {
  margin: 10em auto;
  text-align: center;
}

.plan {
  font: 1em 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
  text-shadow: 0 1px rgba(255,255,255,.8);
  background: #fff;
  border: 1px solid #ddd;
  color: #333;
  padding: 1em;
  float: left;
  width: 27%;
  position: relative;
}

.pricing-table .most-popular {
  z-index: 2;
  top: -13px;
  border-width: 3px;
  padding: 30px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
  box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
}

.plan:nth-child(1) {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

.plan:nth-child(3) {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

/* --------------- */

.pricing-table h3 {
  font-size: 20px;
  font-weight: normal;
  padding: 20px;
  margin: -20px -20px 50px -20px;
  background-color: #eee;
  background-image: -moz-linear-gradient(#fff,#eee);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image: -webkit-linear-gradient(#fff, #eee);
  background-image: -o-linear-gradient(#fff, #eee);
  background-image: -ms-linear-gradient(#fff, #eee);
  background-image: linear-gradient(#fff, #eee);
}

.pricing-table .most-popular h3 {
  background-color: #ddd;
  background-image: -moz-linear-gradient(#eee,#ddd);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: -o-linear-gradient(#eee, #ddd);
  background-image: -ms-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  margin-top: -30px;
  padding-top: 30px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.plan:nth-child(1) h3 {
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}

.plan:nth-child(3) h3 {
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}

.pricing-table h3 span {
  display: block;
  font: bold 25px/100px Georgia, Serif;
  color: #777;
  background: #fff;
  border: 5px solid #fff;
  height: 100px;
  width: 100px;
  margin: 10px auto -65px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
  -webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
  box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

/* --------------- */

.pricing-table ul {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}

.pricing-table li {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

/* --------------- */

.button, .signup {
  position: relative;
  padding: 8px 20px;
  margin: 20px 0 0 0;
  color: #fff;
  font: bold 14px Arial, Helvetica;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  background-color: #72ce3f;
  background-image: -moz-linear-gradient(#72ce3f, #62bc30);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#72ce3f), to(#62bc30));
  background-image: -webkit-linear-gradient(#72ce3f, #62bc30);
  background-image: -o-linear-gradient(#72ce3f, #62bc30);
  background-image: -ms-linear-gradient(#72ce3f, #62bc30);
  background-image: linear-gradient(#72ce3f, #62bc30);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.3);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

.signup:hover {
  background-color: #62bc30;
  background-image: -moz-linear-gradient(#62bc30, #72ce3f);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#62bc30), to(#72ce3f));
  background-image: -webkit-linear-gradient(#62bc30, #72ce3f);
  background-image: -o-linear-gradient(#62bc30, #72ce3f);
  background-image: -ms-linear-gradient(#62bc30, #72ce3f);
  background-image: linear-gradient(#62bc30, #72ce3f);
}

.signup:active, .signup:focus {
  background: #62bc30;
  top: 2px;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
}



